header{
    background-color: brown;
    border: 2px solid;
}
nav{
    background-color: rgba(126, 126, 240, 0.692);
    border: 2px solid;
}
.nav-block{
    display: inline-block;
    background-color: blue;
    border: 2px solid;
}
main{
    width: 800px;
    height: 600px;
    display: inline-block;
    border: 2px solid;
    padding-bottom: 100px;
}
aside{
    margin-top: 10px;
    display: inline-block;
    height: 600px;
    width: 300px;
    border: 2px solid;
}
aside a{
    text-align: center;
}